<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CaronaApp"
        tools:targetApi="31">
        <activity
            android:name=".esqueci_senha.RedefinirSenha"
            android:exported="false"
            android:label="@string/title_activity_redefinir_senha"
            android:theme="@style/Theme.CaronaApp" />
        <activity
            android:name=".esqueci_senha.EsqueciSenhaCodigo"
            android:exported="false"
            android:label="@string/title_activity_esqueci_senha_codigo"
            android:theme="@style/Theme.CaronaApp" />
        <activity
            android:name=".esqueci_senha.EsqueciSenhaEmail"
            android:exported="false"
            android:label="EsqueciSenhaEmail"
            android:theme="@style/Theme.CaronaApp" />
        <activity
            android:name=".Login"
            android:exported="false"
            android:label="Login"
            android:theme="@style/Theme.CaronaApp" />
        <activity
            android:name=".cadastro.CadastroPessoais"
            android:exported="false"
            android:label="CadastroPessoais"
            android:theme="@style/Theme.CaronaApp" />
        <activity
            android:name=".cadastro.CadastroPerfil"
            android:exported="false"
            android:label="CadastroPerfil"
            android:theme="@style/Theme.CaronaApp" />
        <activity
            android:name=".cadastro.CadastroEndereco"
            android:exported="false"
            android:label="CadastroEndereco"
            android:theme="@style/Theme.CaronaApp" />
        <activity
            android:name=".cadastro.CadastroFoto"
            android:exported="false"
            android:label="CadastroFoto"
            android:theme="@style/Theme.CaronaApp" />
        <activity
            android:name=".cadastro.CadastroSenha"
            android:exported="false"
            android:label="CadastroSenha"
            android:theme="@style/Theme.CaronaApp" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.CaronaApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>